In [2]:
# Read the input genotypes.txt file
with open("genotypes.txt", "r") as input_file:
    lines = input_file.readlines()

# Extract header line
header = lines[0].strip().split()

# Process each line of data and merge alleles into genotype calls
genotype_calls = []
for line in lines[1:]:
    parts = line.strip().split("\t")
    iid = parts[0]
    genotypes = [f"{parts[i]}{parts[i+1]}" for i in range(1, len(parts), 2)]
    genotype_calls.append([iid] + genotypes)

# Modify the header to remove "_1" and "_2" suffixes
modified_header = ["#IID"] + [rs.split("_")[0] for rs in header[1::2]]

# Write the merged genotype calls to genotype_merged.txt
with open("genotype_merged.txt", "w") as output_file:
    output_file.write("\t".join(modified_header) + "\n")
    for call in genotype_calls:
        output_file.write("\t".join(call) + "\n")

print("Genotype calls merged and saved as genotype_merged.txt")

Genotype calls merged and saved as genotype_merged.txt

In [3]:
import pandas as pd

# Read phenotypes data
phenotypes = pd.read_csv("phenotypes.txt", sep="\t")

In [4]:
# Filter female patients under 60 with Type II Diabetes
filtered_phenotypes = phenotypes[(phenotypes["Gender"] == 0) & (phenotypes["Age"] < 60) & (phenotypes["Type.II.Diabetes"] == 1)]

# Extract the relevant IDs
selected_ids = filtered_phenotypes["Arb_ID"].tolist()

In [5]:
filtered_phenotypes

         Arb_ID   Age  Gender        BMI  Type.II.Diabetes
4   55979726895  38.0     0.0  60.235667               1.0
32  59135084867  27.0     0.0  59.559074               1.0
33   5654467294  41.0     0.0        NaN               1.0
36  75132640171  51.0     0.0  60.543456               1.0
42  31073992919  46.0     0.0        NaN               1.0
47  76985507846  50.0     0.0  60.890339               1.0

In [6]:
# Read genotypes data
genotypes = pd.read_csv("genotype_merged.txt", sep="\t")

genotypes

           #IID rs1421085 rs7074440 rs9273367 rs9275530 rs9368219
0    1534210213        TT        GG        AT        GG        CC
1    1549214769        CC        AA        AT        GG        CC
2    3669281929        TT        GG        AT        GG        CT
3    5654467294        TT        AG        AT        GG        CC
4    7514162311        CT        AA        AT        GG        CT
5    7718430122        CC        GG        AT        GG        CC
6    8094374023        CT        GG        AA        GG        CC
7    9156030645        CT        AA        AT        GG        CT
8   11445637833        CT        GG        AA        GG       NaN
9   14998017455        TT        GG        TT        GG        TT
10  17045850406        CC        GG        TT        GC        CC
11  19572843351        TT        GG        TT        GG        CC
12  21010920759        TT        AG        TT       NaN        CC
13  21752089584        CC        AG        AT        GG        CT
14  22090333886        CT        AG        AA        GG        CC
15  22738892311        CT        GG        AT        GG        CC
16  23302765165        TT        GG        TT        GG        CC
17  28397619565        CC        AG        TT        GC        CC
18  31073992919        CC        GG        AT        GC        CC
19  31473541133        CC        GG        AT        GG        CT
20  34051766148        CC        GG        TT        GG        CC
21  34610262659        CT        GG        AA        GG        CC
22  34699502788        CC        AG        TT        GG        CC
23  37662218447        CT        GG        AA        GG        CC
24  38692193225        CT        AG        AA        GC        CC
25  42673757023        CT        AG        TT        GG        CC
26  48931107252        TT        GG        TT        GC        CC
27  49262217585        TT        AG        TT        GG        CC
28  49800253445        CT        GG        TT        GC        CC
29  50061718679        CC        AG        AT       NaN        CC
30  55979726895        CC        AG        AT        GG        CC
31  56855183470        CT        AG        AA        GG        CC
32  59135084867        CC        GG       NaN        GG        CC
33  59898642969        CT        GG        AA        GG        CC
34  61755432346        TT        GG        AT        GC        CC
35  62310362629        CC        AG        AT        GC        CT
36  62919285051        CC        GG        AT        GG        TT
37  65306482423        CT        GG        AA        GG        TT
38  65728884433        TT        AG        AT        GG        CC
39  68012749485        CT       NaN        AA        GC        CT
40  70355570047        TT        GG        AT        GG        CC
41  73387314734       NaN        AG        AT        GG        CT
42  74263581024        CT        GG        AT        CC        CC
43  75132640171        CC        GG        TT        GG        CT
44  76985507846        CT        AG        AT        CC        CC
45  77669633619        CT        AG        AA        GG        CT
46  77805252824        CT        GG        AA        GG        CT
47  83861518087        TT        AG        TT        GG        CT
48  96796568055        TT        AG        AA        GG        CC
49  99526743621        CC        GG        AT        GG        CT

In [7]:
# Filter genotypes data for selected IDs
selected_genotypes = genotypes[genotypes["#IID"].isin(selected_ids)]

selected_genotypes

           #IID rs1421085 rs7074440 rs9273367 rs9275530 rs9368219
3    5654467294        TT        AG        AT        GG        CC
18  31073992919        CC        GG        AT        GC        CC
30  55979726895        CC        AG        AT        GG        CC
32  59135084867        CC        GG       NaN        GG        CC
43  75132640171        CC        GG        TT        GG        CT
44  76985507846        CT        AG        AT        CC        CC

In [2]:
# Question 3
import matplotlib.pyplot as plt

# Remove IID column from selected_genotypes
selected_genotypes = selected_genotypes.drop(columns=["#IID"])

# Plot genotype distribution for each variant
for col in selected_genotypes.columns:
    plt.figure(figsize=(8, 6))
    plt.title(f"Genotype Distribution for {col}")
    selected_genotypes[col].value_counts().plot(kind="bar")
    plt.xlabel("Genotype")
    plt.ylabel("Frequency")
    plt.xticks(rotation=0)
    plt.tight_layout()
    plt.savefig(f"{col}_plot.png")
    plt.close()

NameError: name 'selected_genotypes' is not defined

In [3]:
#Q4

import pandas as pd
import numpy as np

# Read phenotypes data
phenotypes = pd.read_csv("phenotypes.txt", sep="\t")

# Read genotype merged data
genotype_merged = pd.read_csv("ANSWERS/genotype_merged.txt", sep="\t")

# Define the conditions
male_patients = phenotypes[(phenotypes["Gender"] == 1)]
age_condition = male_patients["Age"] > 35

# Calculate the quartiles for BMI
bmi_quartiles = phenotypes["BMI"].quantile([0.25, 0.5, 0.75])
second_quantile_bmi = bmi_quartiles[0.5]
third_quantile_bmi = bmi_quartiles[0.75]

print("The second quantile is ", second_quantile_bmi, "third quantile is ", third_quantile_bmi)

# Filter for patients with BMI in the 3rd quartile
bmi_3rd_quartile_condition = (male_patients["BMI"] >= second_quantile_bmi) & (male_patients["BMI"] < third_quantile_bmi)

# Find out patients with missing genotypes
missing_genotype_patients = genotype_merged[genotype_merged.isnull().any(axis=1)]["#IID"]

# Apply the conditions
filtered_patients = male_patients[age_condition & bmi_3rd_quartile_condition & male_patients["Arb_ID"].isin(missing_genotype_patients)]

# Display the count of such patients
num_patients = len(filtered_patients)

The second quantile is  60.31050714332665 third quantile is  61.115140543388904

In [4]:
print(male_patients)

         Arb_ID   Age  Gender        BMI  Type.II.Diabetes
1   34610262659   NaN     1.0  61.033551               1.0
3   68012749485   NaN     1.0  61.980743               1.0
8   37662218447  39.0     1.0  59.214100               0.0
9    7718430122  23.0     1.0  60.845449               NaN
12  23302765165  48.0     1.0  59.833891               1.0
13  11445637833  33.0     1.0  60.064419               0.0
17  21010920759  72.0     1.0        NaN               1.0
20  61755432346   NaN     1.0  59.792605               0.0
24  50061718679   NaN     1.0  60.280996               0.0
28  77669633619   NaN     1.0  59.635639               1.0
31  49262217585  35.0     1.0  60.528419               0.0
34  28397619565  36.0     1.0  61.690349               1.0
38  49800253445  35.0     1.0  61.374589               1.0
39  17045850406  78.0     1.0        NaN               1.0
40  34051766148  47.0     1.0  60.699727               NaN
41  77805252824  62.0     1.0  60.502584               0.0
46  21752089584   NaN     1.0  59.957979               1.0
48  99526743621  23.0     1.0  61.359909               0.0
49  19572843351  61.0     1.0  59.828946               0.0

In [5]:
print(male_patients[age_condition])

         Arb_ID   Age  Gender        BMI  Type.II.Diabetes
8   37662218447  39.0     1.0  59.214100               0.0
12  23302765165  48.0     1.0  59.833891               1.0
17  21010920759  72.0     1.0        NaN               1.0
34  28397619565  36.0     1.0  61.690349               1.0
39  17045850406  78.0     1.0        NaN               1.0
40  34051766148  47.0     1.0  60.699727               NaN
41  77805252824  62.0     1.0  60.502584               0.0
49  19572843351  61.0     1.0  59.828946               0.0

In [6]:
bmi_quartiles = phenotypes["BMI"].quantile([0.25, 0.5, 0.75])
print(bmi_quartiles)
third_quartile_bmi = bmi_quartiles[0.75]
print(third_quartile_bmi)

0.25    59.632061
0.50    60.310507
0.75    61.115141
Name: BMI, dtype: float64
61.115140543388904

In [8]:
merged = genotype_merged.merge(phenotypes, left_on = '#IID', right_on = 'Arb_ID')

In [9]:
quantiles = merged["BMI"].quantile([0.25, 0.5, 0.75])
second = bmi_quartiles[0.5]
third = bmi_quartiles[0.75]
second, third

(60.31050714332665, 61.115140543388904)

In [15]:
merged

,#IID,rs1421085,rs7074440,rs9273367,rs9275530,rs9368219,Arb_ID,Age,Gender,BMI,Type.II.Diabetes
0,1534210213,TT,GG,AT,GG,CC,1534210213,69.0,0.0,NaN,0.0
1,1549214769,CC,AA,AT,GG,CC,1549214769,57.0,0.0,59.109783,0.0
2,3669281929,TT,GG,AT,GG,CT,3669281929,78.0,NaN,NaN,1.0
3,5654467294,TT,AG,AT,GG,CC,5654467294,41.0,0.0,NaN,1.0
4,7514162311,CT,AA,AT,GG,CT,7514162311,77.0,0.0,61.501239,0.0
5,7718430122,CC,GG,AT,GG,CC,7718430122,23.0,1.0,60.845449,NaN
6,8094374023,CT,GG,AA,GG,CC,8094374023,19.0,NaN,62.447184,0.0
7,9156030645,CT,AA,AT,GG,CT,9156030645,34.0,0.0,60.567355,0.0
8,11445637833,CT,GG,AA,GG,NaN,11445637833,33.0,1.0,60.064419,0.0
9,14998017455,TT,GG,TT,GG,TT,14998017455,80.0,NaN,60.332435,0.0
10,17045850406,CC,GG,TT,GC,CC,17045850406,78.0,1.0,NaN,1.0
11,19572843351,TT,GG,TT,GG,CC,19572843351,61.0,1.0,59.828946,0.0
12,21010920759,TT,AG,TT,NaN,CC,21010920759,72.0,1.0,NaN,1.0
13,21752089584,CC,AG,AT,GG,CT,21752089584,NaN,1.0,59.957979,1.0
14,22090333886,CT,AG,AA,GG,CC,22090333886,40.0,0.0,58.641323,NaN
15,22738892311,CT,GG,AT,GG,CC,22738892311,24.0,0.0,59.065100,NaN
16,23302765165,TT,GG,TT,GG,CC,23302765165,48.0,1.0,59.833891,1.0
17,28397619565,CC,AG,TT,GC,CC,28397619565,36.0,1.0,61.690349,1.0
18,31073992919,CC,GG,AT,GC,CC,31073992919,46.0,0.0,NaN,1.0
19,31473541133,CC,GG,AT,GG,CT,31473541133,70.0,0.0,NaN,0.0
20,34051766148,CC,GG,TT,GG,CC,34051766148,47.0,1.0,60.699727,NaN
21,34610262659,CT,GG,AA,GG,CC,34610262659,NaN,1.0,61.033551,1.0
22,34699502788,CC,AG,TT,GG,CC,34699502788,18.0,0.0,61.609328,0.0
23,37662218447,CT,GG,AA,GG,CC,37662218447,39.0,1.0,59.214100,0.0
24,38692193225,CT,AG,AA,GC,CC,38692193225,23.0,0.0,60.717964,NaN
25,42673757023,CT,AG,TT,GG,CC,42673757023,69.0,NaN,NaN,0.0
26,48931107252,TT,GG,TT,GC,CC,48931107252,20.0,0.0,62.320440,NaN
27,49262217585,TT,AG,TT,GG,CC,49262217585,35.0,1.0,60.528419,0.0
28,49800253445,CT,GG,TT,GC,CC,49800253445,35.0,1.0,61.374589,1.0
29,50061718679,CC,AG,AT,NaN,CC,50061718679,NaN,1.0,60.280996,0.0
30,55979726895,CC,AG,AT,GG,CC,55979726895,38.0,0.0,60.235667,1.0
31,56855183470,CT,AG,AA,GG,CC,56855183470,29.0,NaN,61.378808,1.0
32,59135084867,CC,GG,NaN,GG,CC,59135084867,27.0,0.0,59.559074,1.0
33,59898642969,CT,GG,AA,GG,CC,59898642969,24.0,NaN,58.841672,0.0
34,61755432346,TT,GG,AT,GC,CC,61755432346,NaN,1.0,59.792605,0.0
35,62310362629,CC,AG,AT,GC,CT,62310362629,NaN,NaN,59.452634,0.0
36,62919285051,CC,GG,AT,GG,TT,62919285051,55.0,NaN,NaN,NaN
37,65306482423,CT,GG,AA,GG,TT,65306482423,62.0,0.0,61.487243,1.0
38,65728884433,TT,AG,AT,GG,CC,65728884433,53.0,0.0,NaN,0.0
39,68012749485,CT,NaN,AA,GC,CT,68012749485,NaN,1.0,61.980743,1.0
40,70355570047,TT,GG,AT,GG,CC,70355570047,80.0,0.0,59.621326,1.0
41,73387314734,NaN,AG,AT,GG,CT,73387314734,21.0,NaN,59.955104,0.0
42,74263581024,CT,GG,AT,CC,CC,74263581024,73.0,0.0,59.356871,0.0
43,75132640171,CC,GG,TT,GG,CT,75132640171,51.0,0.0,60.543456,1.0
44,76985507846,CT,AG,AT,CC,CC,76985507846,50.0,0.0,60.890339,1.0
45,77669633619,CT,AG,AA,GG,CT,77669633619,NaN,1.0,59.635639,1.0
46,77805252824,CT,GG,AA,GG,CT,77805252824,62.0,1.0,60.502584,0.0
47,83861518087,TT,AG,TT,GG,CT,83861518087,NaN,0.0,58.310157,1.0
48,96796568055,TT,AG,AA,GG,CC,96796568055,23.0,NaN,60.288580,1.0
49,99526743621,CC,GG,AT,GG,CT,99526743621,23.0,1.0,61.359909,0.0

In [19]:
merged[(merged["BMI"] < third) & (merged["Age"] > 35) & (merged["Gender"] == 1) & merged["#IID"].isin(missing_genotype_patients)]

,#IID,rs1421085,rs7074440,rs9273367,rs9275530,rs9368219,Arb_ID,Age,Gender,BMI,Type.II.Diabetes
8,11445637833,CT,GG,AA,GG,NaN,11445637833,33.0,1.0,60.064419,0.0
29,50061718679,CC,AG,AT,NaN,CC,50061718679,NaN,1.0,60.280996,0.0

In [13]:
missing_genotype_patients = genotype_merged[genotype_merged.isnull().any(axis=1)]["#IID"]
missing_genotype_patients

8     11445637833
12    21010920759
29    50061718679
32    59135084867
39    68012749485
41    73387314734
Name: #IID, dtype: int64

In [5]:
print(phenotypes[bmi_3rd_quartile_condition])

         Arb_ID   Age  Gender        BMI  Type.II.Diabetes
1   34610262659   NaN     1.0  61.033551               1.0
9    7718430122  23.0     1.0  60.845449               NaN
31  49262217585  35.0     1.0  60.528419               0.0
40  34051766148  47.0     1.0  60.699727               NaN
41  77805252824  62.0     1.0  60.502584               0.0

In [12]:
print(genotypes)

           #IID rs1421085 rs7074440 rs9273367 rs9275530 rs9368219
0    1534210213        TT        GG        AT        GG        CC
1    1549214769        CC        AA        AT        GG        CC
2    3669281929        TT        GG        AT        GG        CT
3    5654467294        TT        AG        AT        GG        CC
4    7514162311        CT        AA        AT        GG        CT
5    7718430122        CC        GG        AT        GG        CC
6    8094374023        CT        GG        AA        GG        CC
7    9156030645        CT        AA        AT        GG        CT
8   11445637833        CT        GG        AA        GG       NaN
9   14998017455        TT        GG        TT        GG        TT
10  17045850406        CC        GG        TT        GC        CC
11  19572843351        TT        GG        TT        GG        CC
12  21010920759        TT        AG        TT       NaN        CC
13  21752089584        CC        AG        AT        GG        CT
14  22090333886        CT        AG        AA        GG        CC
15  22738892311        CT        GG        AT        GG        CC
16  23302765165        TT        GG        TT        GG        CC
17  28397619565        CC        AG        TT        GC        CC
18  31073992919        CC        GG        AT        GC        CC
19  31473541133        CC        GG        AT        GG        CT
20  34051766148        CC        GG        TT        GG        CC
21  34610262659        CT        GG        AA        GG        CC
22  34699502788        CC        AG        TT        GG        CC
23  37662218447        CT        GG        AA        GG        CC
24  38692193225        CT        AG        AA        GC        CC
25  42673757023        CT        AG        TT        GG        CC
26  48931107252        TT        GG        TT        GC        CC
27  49262217585        TT        AG        TT        GG        CC
28  49800253445        CT        GG        TT        GC        CC
29  50061718679        CC        AG        AT       NaN        CC
30  55979726895        CC        AG        AT        GG        CC
31  56855183470        CT        AG        AA        GG        CC
32  59135084867        CC        GG       NaN        GG        CC
33  59898642969        CT        GG        AA        GG        CC
34  61755432346        TT        GG        AT        GC        CC
35  62310362629        CC        AG        AT        GC        CT
36  62919285051        CC        GG        AT        GG        TT
37  65306482423        CT        GG        AA        GG        TT
38  65728884433        TT        AG        AT        GG        CC
39  68012749485        CT       NaN        AA        GC        CT
40  70355570047        TT        GG        AT        GG        CC
41  73387314734       NaN        AG        AT        GG        CT
42  74263581024        CT        GG        AT        CC        CC
43  75132640171        CC        GG        TT        GG        CT
44  76985507846        CT        AG        AT        CC        CC
45  77669633619        CT        AG        AA        GG        CT
46  77805252824        CT        GG        AA        GG        CT
47  83861518087        TT        AG        TT        GG        CT
48  96796568055        TT        AG        AA        GG        CC
49  99526743621        CC        GG        AT        GG        CT

In [6]:
male_patients[age_condition & bmi_3rd_quartile_condition]

         Arb_ID   Age  Gender        BMI  Type.II.Diabetes
40  34051766148  47.0     1.0  60.699727               NaN
41  77805252824  62.0     1.0  60.502584               0.0

In [7]:
print(missing_genotype_patients)

8     11445637833
12    21010920759
29    50061718679
32    59135084867
39    68012749485
41    73387314734
Name: #IID, dtype: int64

In [8]:
male_patients[male_patients["Arb_ID"].isin(missing_genotype_patients)]

         Arb_ID   Age  Gender        BMI  Type.II.Diabetes
3   68012749485   NaN     1.0  61.980743               1.0
13  11445637833  33.0     1.0  60.064419               0.0
17  21010920759  72.0     1.0        NaN               1.0
24  50061718679   NaN     1.0  60.280996               0.0